body{
font-family:Arial,"Microsoft YaHei";
background:#f2f3f5;
}


.box{

width:700px;

margin:50px auto;

background:#fff;

padding:30px;

border-radius:12px;

}



h1{

text-align:center;

}



label{

display:block;

margin-top:15px;

font-weight:bold;

}



input,
textarea{

width:100%;

box-sizing:border-box;

margin-top:8px;

padding:12px;

font-size:15px;

}



textarea{

height:180px;

resize:vertical;

}



button{

margin-top:20px;

padding:12px 25px;

border:none;

cursor:pointer;

}



#status{

margin-top:20px;

}
